@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
}
header{
    background: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png");
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 83%;
    max-width: 1140px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .logo h2 {
    font-size: 45px;
    font-weight: bolder;
}
 h2 span{
    color: #FD6E0A;
}
ul{
    display: flex;
    list-style: none;

}
ul li a{
    text-decoration: none;
    margin: 12px 12px;
    color:#000;
}
.button {
    background: #FD6E0A;
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.button a{
    text-decoration: none;
 color:#fff;
}

#hero{
    margin: 0 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#hero .hero-content{
    max-width: 585px;
}
#hero .hero-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#hero .hero-content p{
    font-size: 17px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#hero .hero-img img{
    max-width: 585px;
    vertical-align: middle;
}
#about {
    padding-top: 130px;
}
#about .about-container {
    width: 83%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background: #FFF8F3;
    padding: 131px  156px;
    box-shadow: -3px 3px 12px #00000057;
    border-radius: 10px;
}
#about .about-container .section-heading h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
 
}
#about .about-container  .section-heading p {
    font-size: 17px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info p{
      font-size: 17px;
    color: #757575;
    line-height: 30px;
}
.about-info h4{
    font-size: 17px;
    color: #181818;
    font-weight: bold;
}
#skills {
    padding: 130px;
}
#skills .skills-container{
        width: 83%;
    max-width: 1140px;
    margin: 0 auto;
   
}
.skills-content h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
     text-align: center;
}
.skills-content p{
        font-size: 17px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
     text-align: center;
}
.skills-items{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.skills-card {
    padding: 24px 11px;
    box-shadow: -3px 6px 19px #00000057;
    border-radius: 5px;
}
.skills-card h4{
  font-size: 20px;
  color:#181818;
  margin-bottom: 30px;
  font-weight: bold;
}
.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 30px;
}
.resume-container{
    width: 83%;
    max-width: 1140px;
    margin: 0 auto;
}
.resume-container h2{
    text-align: center;
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-viewer {
    display: flex;
    gap:60px;
}
.resume-card{
    width: 455px;
   margin-bottom: 30px;
   margin-top: 20px;
}
.resume-container .resume-viewer h3{
    font-size: 30px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-container .resume-viewer h2{
        font-size: 15px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 15px;
}
.resume-container .resume-viewer .date{
    color:#757575;
    font-weight:700;
    font-size: 14px;
    margin-bottom: 20px;
}
.resume-container .resume-viewer p{
        color:#757575;
        line-height: 30px;
}
.downloadBtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.downloadBtn button  {
  border: none;
  background: #FD6E0A;
  padding: 10px 23px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.downloadBtn button a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
footer{
  background:#FFF8F3;
  padding-top: 120px;
}
.footer-container{
        width: 83%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.location{
    width: 455px;
}
.footer-container h2{
    font-size: 30px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.footer-container p{
    font-size: 14px;
      color:#757575;
        line-height: 30px;
}
.footer-container .inputBox input[type="text"] {
    width: 246px;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
}
.footer-container .inputBox input[type="text"] ,textarea {
    width: 246px;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
}
.sumbmitBtn{
      border: none;
  background: #FD6E0A;
  padding: 10px 23px;
  border-radius: 5px;
  margin-bottom: 30px;
      color: #fff;
    font-size: 17px;
    font-weight: 400;
}