@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
}
header{
    background: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 83%;
    max-width: 1140;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .logo h2 {
    font-size: 45px;
    font-weight: bolder;
}
 h2 span{
    color: #FD6E0A;
}
ul{
    display: flex;
    list-style: none;

}
ul li a{
    text-decoration: none;
    margin: 12px 12px;
    color:#000;
}
.button {
    background: #FD6E0A;
    padding: 6px 10px;
    color:#fff;
}